@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    background-image: url(images/hero-bg.jpg);
    height: 90vh;

}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
    font-size: 20px;

}
.Logo {
    font-weight: bold;
    font-size: 23px;
}

nav a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 17px;
    color: white;
}

nav a:first-child {
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 0.5em;

}

nav a:hover {
    text-decoration: underline;
    
    text-decoration-color: red;
    text-underline-offset: 0.5em;
    transition: .2s ease;

}

.center {
    text-align: center;
    align-items: center;
    margin-top: 170px;
    color: #fff;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 27px;
}

h1 {
    font-size: 35px;
    font-weight: bold;
}

p {
    font-size: 15px;
    margin-top: 20px;
}

button {
    margin-top: 30px;
    padding: 10px 40px;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
}

button:hover {

    background-color: #fff;
    color: black;
}

.div1-container {

    height: 65vh;
    background-image: url(images/us-bg.jpg);
    background-attachment: fixed;

}

.div2-text h1:first-child {
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 0.5em;

}

.div2-text {

    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.div3-imgs {

    display: flex;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 30px;

}

.div2-containar {
    background-image: url(images/healthy-bg.jpg);
    background-attachment: fixed;
    height: 80vh;
    text-align: center;
    color: #fff;
}

.text {

    padding: 110px 0;
}
.text h1 {

    font-size: 35px;
    font-weight: bold;
}


.text p {

    font-size: 20px;
}

.div3-containar {

    background-image: url(images/trainer-bg.jpg);
    background-attachment: fixed;
    height: 135vh;
    flex-direction: column;
    display: flex;

}

.div3-containar h1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    padding: 110px 0;
}
.div3-containar h1:first-child {
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 0.5em;

}


.img-2 {
    display: flex;
    justify-content: center;

}

.img-man P {

    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;



}

.img-girl P {

    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;


}

.img-train P {

    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;

}

.img-man img {
    margin-right: 30px;
    border-radius: 20px;
}

.img-girl img {
    margin-right: 30px;
    border-radius: 20px;
}

.img-train img {
    margin-right: 5px;
    border-radius: 20px;
}


.borty {
    position: absolute;
    color: #fff;
    padding: 7px 20px;
    background-color: #fff;
    margin-top: 370px;
    left: 130px;
    font-size: 20px;
    border-radius: 50px;

}

.bortyy {
    position: absolute;
    color: #fff;
    padding: 7px 20px;
    background-color: #fff;
    margin-top: 370px;
    left: 525px;
    font-size: 20px;
    border-radius: 50px;
}

.bortyf {
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 7px 55px;
    background-color: #fff;
    margin-top: 370px;
    left: 925px;
    font-size: 20px;
    border-radius: 50px;

}

.div-5 {

    height: 100vh;
    background-color: #27223f;

}

.bood {
    display: flex;
    justify-content: left;
}


.bo {

    margin-top: 40px;
    margin-left: 30px;
}

.bo h1 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}
.bo h1:first-child {
  
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 0.5em;

}

input {

    width: 370px;
    margin-top: 25px;
    padding: 12px 20px;
    font-size: 18px;
    color: black;

}

.in {

    height: 70px;

}

.button {
    background-color: #ff2953;
    color: #fff;
    border: none;
    margin-left: 210px;
    padding: 13px 65px;
    font-size: 17px;
    margin-top: 50px;

}

.footer {

    height: 27vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: #252233;
    color: #fff;
    font-size: 18px;
   
}
h4 {
    margin-top: 10px;
}